* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* hide scrollbar */
/* хром, сафари */
.sidetoc::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.sidetoc { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.sidetoc { overflow: -moz-scrollbars-none; }
@font-face {
  font-family:'FontAwesome';
  src:url("../../_static/fonts/fontawesome-webfont.eot?v=4.2.0");
  src:url("../../_static/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"),
  url("../../_static/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"),
  url("../../_static/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"),
  url("../../_static/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), local("Inconsolata-Regular"), url(../fonts/Inconsolata-Regular.ttf) format("truetype")
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(../fonts/Inconsolata-Bold.ttf) format("truetype")
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format("truetype")
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format("truetype")
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(../fonts/RobotoSlab-Regular.ttf) format("truetype")
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(../fonts/RobotoSlab-Bold.ttf) format("truetype")
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;;
  -webkit-text-size-adjust: 100%;;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 0;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, .rst-content tt, .rst-content code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

.small {
  font-size: 90%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

li {
  list-style: none;
}

dd {
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

a.disable,
a.disable:hover {
  text-decoration: none;
  cursor: default;
  color: #000;
}

/* workaround for leave space for fixed navbar with # anchor url*/

.inheritance .level0:before,
.inheritance .level1:before,
.inheritance .level2:before,
.inheritance .level3:before,
.inheritance .level4:before,
.inheritance .level5:before {
  content: '↳';
  margin-right: 5px;
}

.inheritance .level0 {
  margin-left: 0em;
}

.inheritance .level1 {
  margin-left: 1em;
}

.inheritance .level2 {
  margin-left: 2em;
}

.inheritance .level3 {
  margin-left: 3em;
}

.inheritance .level4 {
  margin-left: 4em;
}

.inheritance .level5 {
  margin-left: 5em;
}

span.parametername,
span.paramref,
span.typeparamref {
  font-style: italic;
}

span.languagekeyword {
  font-weight: bold;
}

svg:hover path {
  fill: #fff;
}

.hljs {
  display: inline;
  background-color: inherit;
  padding: 0;
}

/* additional spacing fixes */
.btn + .btn {
  margin-left: 10px;
}

.btn.pull-right {
  margin-left: 10px;
  margin-top: 5px;
}

.table {
  margin-bottom: 10px;
}

table p {
  margin-bottom: 0;
}

table a {
  display: inline-block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  font-weight: 700;
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
  word-wrap: break-word;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
  word-wrap: break-word;
}

.navbar {
  margin-bottom: 0;
}

#wrapper {
  min-height: 100vh;
  position: relative;
  background-color: #edf0f2;
}

/* blends header footer and content together with gradient effect */
.grad-top {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  /* Standard syntax */
  height: 5px;
}

.grad-bottom {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  /* Standard syntax */
  height: 5px;
}

.divider {
  margin: 0 5px;
  color: #ccc;
}

header .navbar {
  border-width: 0 0 1px;
  border-radius: 0;
  text-align: center;
  min-height: 0;
}

.navbar-brand {
  font-size: inherit;
  padding: 0;
}

.navbar-collapse {
  margin: 0 -15px;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.subnav {
  border: none;
  width: 1150px;
}

#wrapper > .container {
  padding-top: 69px;
}

.container {
  margin-left: 0;
  padding: 0;
  width: 1300px;
}

.navbar-brand {
  height: 36px;
  display: none;
}

.navbar .navbar-nav {
  float: none;
  display: block;
  margin: 0 auto;
}

.navbar .navbar-form {
  float: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 350px;
}

.navbar .container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 350px;
  height: 120px;
  background-color: #2980b9;
  border-color: #2980b9;
  padding: 0.809em;
}

.navbar[role="navigation"] .container {
  position: fixed;
}

.article .col-md-10 {
  padding: 1.618em 3.236em;
  max-width: 800px;
  min-height: calc(100vh - 180px);
  background-color: #fff;
  overflow: hidden;
}

.navbar .navbar-nav > li > a {
  padding: 4px 6px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.navbar .navbar-nav > li > a:before {
  content: '\f015';
  font-family: 'FontAwesome', sans-serif;
  display: block;
  float: left;
  margin-right: 5px;
}

.navbar .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, .1);
}

.navbar .navbar-nav > li.active > a {
  background-color: rgba(255, 255, 255, .4);
  cursor: default;
}

.navbar .navbar-nav > li.active > a:hover {
  background-color: rgba(255, 255, 255, .4);
}

.subnav .container {
  left: 350px;
  width: 800px;
  background-color: transparent;
  border-color: transparent;
  padding: 0 3.236em;
  background-color: #fff;
  text-align: left;
  height: 70px;
}

.inheritance h5, .inheritedMembers h5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

article h1 {
  margin-top: 0;
}

article h2, article h3, article h4 {
  margin-top: 25px;
}

article h4 {
  border-bottom: 1px solid #ccc;
}

article span.small.pull-right {
  margin-top: 20px;
}

article section {
  margin-left: 1em;
}

/*.expand-all {
  padding: 10px 0;
}*/
.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: inherit;
  white-space: nowrap;
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid #c9c9c9;
  border-radius: 0;
  padding-top: 25px;
}

.breadcrumb > li + li:before {
  content: "\00a0/";
}

#autocollapse.collapsed .navbar-header {
  float: none;
}

#autocollapse.collapsed .navbar-toggle {
  display: block;
}

#autocollapse.collapsed .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#autocollapse.collapsed .navbar-collapse.collapse {
  display: none !important;
}

#autocollapse.collapsed .navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
}

#autocollapse.collapsed .navbar-nav > li {
  float: none;
}

#autocollapse.collapsed .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

#autocollapse.collapsed .collapse.in,
#autocollapse.collapsed .collapsing {
  display: block !important;
}

#autocollapse.collapsed .collapse.in .navbar-right,
#autocollapse.collapsed .collapsing .navbar-right {
  float: none !important;
}

#autocollapse .form-group {
  width: 100%;
}

#autocollapse .form-control {
  width: 100%;
}

#autocollapse .navbar-header {
  margin-left: 0;
  margin-right: 0;
}

#autocollapse .navbar-brand {
  margin-left: 0;
}

.collapse.in,
.collapsing {
  text-align: center;
}

.collapsing .navbar-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.collapsed .collapse.in .navbar-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav {
  display: inline-block;
}

.docs-search {
  background: white;
  vertical-align: middle;
}

.docs-search > .search-query {
  font-size: 14px;
  border: 0;
  width: 120%;
  color: #555;
}

.docs-search > .search-query:focus {
  outline: 0;
}

.search-results-frame {
  clear: both;
  display: table;
  width: 100%;
}

.search-results.ng-hide {
  display: none;
}

.search-results-container {
  padding-bottom: 1em;
  border-top: 1px solid #111;
  background: rgba(25, 25, 25, 0.5);
}

.search-results-container .search-results-group {
  padding-top: 50px !important;
  padding: 10px;
}

.search-results-group-heading {
  font-family: "Open Sans";
  padding-left: 10px;
  color: white;
}

.search-close {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  color: white;
  text-align: center;
  padding: 5px;
  background: #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 200px;
  box-shadow: 0 0 10px #111;
}

#search {
  display: none;
}

/* Search results display*/
#search-results {
  max-width: 960px !important;
  margin-top: 120px;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  display: none;
}

#search-results > .search-list {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

#search-results p {
  text-align: center;
}

#search-results .sr-items {
  font-size: 24px;
}

.sr-item {
  margin-bottom: 25px;
}

.sr-item > .item-href {
  font-size: 14px;
  color: #093;
}

.sr-item > .item-brief {
  font-size: 13px;
}

.pagination > li > a {
  color: #47a7a0
}

.pagination > .active > a {
  background-color: #47a7a0;
  border-color: #47a7a0;
}

.fixed_header {
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  top: 0;
  z-index: 9999;
  left: 0;
}

.fixed_header + .toc {
  margin-top: 50px;
  margin-left: 0;
}

.sidenav, .fixed_header, .toc {
  background-color: #343131;
}

.sidetoc {
  position: fixed;
  width: 350px;
  height: calc(100vh - 119px);
  top: 119px;
  bottom: 0;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #343131;
  z-index: 1;
}

body .toc {
  overflow-x: hidden;
}

.sidetoggle.ng-hide {
  display: block !important;
}

.sidetoc-expand > .caret {
  margin-left: 0px;
  margin-top: -2px;
}

.sidetoc-expand > .caret-side {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 4px;
  margin-top: -4px;
}

.sidetoc-heading {
  font-weight: 500;
}

.toc {
}

.expand-stub {
  position: absolute;
  left: 5px;
  z-index: 1;
}

.toc .nav > li > a.sidetoc-expand {
  position: absolute;
  top: 0;
  left: 0;
}

.toc .nav > li > a {
  color: #b3b3b3;
  display: block;
  padding: 5px 10px;
  padding-left: 25px;
  width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.toc .nav > li > .expand-stub + a {
  display: block;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  background-color: #4e4a4a;
  text-decoration: inherit;
}

.toc .nav > li.in > a {
  color: #404040;
  background-color: #fcfcfc;
  border-bottom: solid 1px #c9c9c9;
  border-top: solid 1px #c9c9c9;
  border-right: none;
  font-weight: bold;
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  /*color: #23527c;*/
}

.toc .nav > li > .expand-stub {
  cursor: pointer;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
  content: "-";
  color: #b3b3b3;
  line-height: 30px;
  padding: 0 5px;
}

.toc .nav > li > .expand-stub::before {
  content: "+";
  color: #b3b3b3;
  line-height: 30px;
  padding: 0 5px;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before {
  color: #404040;
}

.toc .nav > li.filtered > ul,
.toc .nav > li.in > ul {
  display: block;
}

.toc .nav > li > ul {
  display: none;
}

.toc .level1 > li {
  position: relative;
}

.toc .level2 {
  font-weight: normal;
  font-size: 14px;
}

.toc .level2 > li > a {
  color: gray;
  background-color: #e3e3e3;
  border-right: solid 1px #c9c9c9;
}

.toc .level2 > li.active > a {
  color: #404040;
  background-color: #d6d6d6;
  border-right: solid 1px #c9c9c9;
  border-bottom: none;
  border-top: none;
  font-weight: bold;
}

.toc .level2 > li > a:hover {
  background-color: #d6d6d6;
}

.toc .level3 {
  font-size: 12px;
}

.toc .level3 > li > a {
  color: gray;
  background-color: #e3e3e3;
  border-right: solid 1px #c9c9c9;
}

.toc .level3 > li > a:hover {
  background-color: #d6d6d6;
}

.toc-toggle {
  display: none;
  margin: 0 15px 0px 15px;
}

.sidefilter {
  position: fixed;
  top: 66px;
  width: 350px;
  background-color: #2980b9;
  padding: 0.809em 15px;
  z-index: 1;
}

.css .hljs-at_rule, .css .hljs-important, .go .hljs-typename, .haskell .hljs-type, .hljs-keyword, .http .hljs-request, .ini .hljs-setting, .java .hljs-javadoctag, .javascript .hljs-javadoctag, .javascript .hljs-tag, .less .hljs-at_rule, .less .hljs-tag, .nginx .hljs-title, .objectivec .hljs-preprocessor, .php .hljs-phpdoc, .scss .hljs-at_rule, .scss .hljs-important, .scss .hljs-tag, .sql .hljs-built_in, .stylus .hljs-at_rule, .swift .hljs-preprocessor {
  color: #333;
  font-weight: bold;
}

.apache .hljs-sqbracket, .c .hljs-preprocessor, .coffeescript .hljs-regexp, .coffeescript .hljs-subst, .cpp .hljs-preprocessor, .hljs-string, .javascript .hljs-regexp, .json .hljs-attribute, .less .hljs-built_in, .makefile .hljs-variable, .markdown .hljs-blockquote, .markdown .hljs-emphasis, .markdown .hljs-link_label, .markdown .hljs-strong, .markdown .hljs-value, .nginx .hljs-number, .nginx .hljs-regexp, .objectivec .hljs-preprocessor .hljs-title, .perl .hljs-regexp, .php .hljs-regexp, .scss .hljs-built_in, .xml .hljs-value {
  color: #d14;
}

.toc-filter {
  border-radius: 50px;
  background: #fff;
  color: gray;
  padding: 5px;
  position: relative;
  margin: 0;
}

.navbar-form input {
  border-radius: 50px;
}

.toc-filter > input {
  border: 0;
  color: gray;
  padding-left: 20px;
  width: 100%;
}

.toc-filter > input:focus {
  outline: 0;
}

.toc-filter > .filter-icon {
  position: absolute;
  top: 10px;
  left: 5px;
}

.article {
  margin-top: 0;
  margin-left: 350px;
  margin-bottom: 80px;
}

#_content > a {
  margin-top: 105px;
}



.inheritance hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.article img {
  max-width: 100%;
}

.sideaffix {
  margin-top: 50px;
  font-size: 12px;
  max-height: 100%;
  overflow: hidden;
  top: 100px;
  bottom: 10px;
  position: fixed;
}

.affix {
  position: relative;
  height: 100%;
}

.sideaffix > div.contribution {
  margin-bottom: 20px;
}

.sideaffix > div.contribution > ul > li > a.contribution-link {
  padding: 6px 10px;
  font-weight: bold;
  font-size: 14px;
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
  background-color: #fff;
}

.sideaffix ul.nav > li > a:focus {
  background: none;
}

.affix h5 {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 12px;
}

.affix > ul.level1 {
  overflow: hidden;
  padding-bottom: 10px;
  height: calc(100% - 100px);
  margin-right: -20px;
}

.affix ul > li > a:before {
  color: #ccc;
  position: absolute;
}

.affix ul > li > a:hover {
  background: none;
  color: #666;
}

.affix ul > li.active > a,
.affix ul > li.active > a:before {
  color: #337ab7;
}

.affix ul > li > a {
  padding: 5px 12px;
  color: #666;
}

.affix > ul > li.active:last-child {
  margin-bottom: 50px;
}

.affix > ul > li > a:before {
  content: "|";
  font-size: 16px;
  top: 1px;
  left: 0;
}

.affix > ul > li.active > a,
.affix > ul > li.active > a:before {
  color: #337ab7;
  font-weight: bold;
}

.affix ul ul > li > a {
  padding: 2px 15px;
}

.affix ul ul > li > a:before {
  content: ">";
  font-size: 14px;
  top: -1px;
  left: 5px;
}

.affix ul > li > a:before,
.affix ul ul {
  display: none;
}

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  display: block;
  white-space: nowrap;
}

.codewrapper {
  position: relative;
}

.trydiv {
  height: 0px;
}

.tryspan {
  position: absolute;
  top: 0px;
  right: 0px;
  border-style: solid;
  border-radius: 0px 4px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #ccc;
  text-align: center;
  padding: 2px 8px;
  background-color: white;
  font-size: 12px;
  cursor: pointer;
  z-index: 100;
  display: none;
  color: #767676;
}

.tryspan:hover {
  background-color: #3b8bd0;
  color: white;
  border-color: #3b8bd0;
}

.codewrapper:hover .tryspan {
  display: block;
}

.sample-response .response-content {
  max-height: 200px;
}

footer {
  position: fixed;
  left: 350px;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 800px;
  background-color: #fff;
}

.footer {
  padding: 15px 0;
  width: 100%;
  padding: 0 3.236em;
}

.footer .container {
  border-top: 1px solid #e7e7e7;
  width: 100%;
  padding: 1.618em 0;
  color: #999;
  font-size: 16px;
}

@media (max-width: 768px) {
  footer {
    left: 0;
  }
}

.xref {
  word-wrap: break-word;
}

@media (min-width: 768px) {
  #sidetoggle.collapse {
    display: block;
  }

  .topnav .navbar-nav {
    float: none;
    white-space: nowrap;
  }

  .topnav .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  #mobile-indicator {
    display: block;
  }

  /* TOC display for responsive */
  .article {
    margin-top: 30px !important;
  }

  header {
    position: static;
  }

  .topnav {
    text-align: center;
  }

  .sidefilter {
    position: static;
    width: auto;
    float: none;
    border: none;
  }

  .sidetoc {
    position: static;
    width: auto;
    float: none;
    padding-bottom: 0px;
    border: none;
  }

  .toc .level2 > li {
    display: block;
    width: 100%;
  }

  .toc .level2 > li:after {
    /*margin-left: -3px;*/
    /*margin-right: 5px;*/
    /*content: ", ";*/
    /*color: #666;*/
  }

  .article.grid-right {
    margin-left: 0;
    margin-right: 0;
  }

  .grad-top,
  .grad-bottom {
    display: none;
  }

  .toc-toggle {
    display: block;
  }

  .sidetoggle.ng-hide {
    display: none !important;
  }

  /*.expand-all {
		display: none;
	}*/
  .sideaffix {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .breadcrumb {
    white-space: inherit;
  }

  /* workaround for #hashtag url is no longer needed*/
  h1:before,
  h2:before,
  h3:before,
  h4:before {
    content: '';
    display: none;
  }
}

/* For toc iframe */
@media (max-width: 260px) {
  .toc .level2 > li {
    display: block;
  }

  .toc .level2 > li:after {
    display: none;
  }
}

/* For code snippet line highlight */
pre > code .line-highlight {
  background-color: #ffc;
}

/* Alerts */
.alert h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

.alert h5:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  font-weight: normal;
}

.alert-info h5:before {
  content: "\e086"
}

.alert-warning h5:before {
  content: "\e127"
}

.alert-danger h5:before {
  content: "\e107"
}

/* For Embedded Video */
div.embeddedvideo {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

div.embeddedvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* For printer */
@media print {
  .article.grid-right {
    margin-top: 0px;
    margin-left: 0px;
  }

  .sideaffix {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    height: 70px;
    width: 100%;
  }
  .navbar .container .navbar-toggle {
    display: none;
  }
  .navbar .container .navbar-collapse {
    display: block;
    border: none;
    margin-top: 10px;
    box-shadow: none;
  }

  .container {
    width: 100%;
    background-color: #fff;
  }

  .subnav {
    width: 100%;
  }

  .subnav .container {
    display: none;
  }

  .sidenav {
    width: 100%;
    margin: 0;
  }

  .sidenav .btn {
    color: #fff;
  }

  .navbar {
    min-height: 35px;
  }

  .sidetoc {
    text-align: left;
  }

  .article .col-md-10 {
    padding: 15px;
    min-height: calc(100vh - 220px);
  }

  .footer {
    padding: 0 15px;
  }
}